#AuthUserFile <REPLACE_ME>
#AuthType Basic
#AuthName "A new website is coming soon!"
#Require valid-user

<IfModule mod_headers.c>
    Header set Strict-Transport-Security max-age=31536000
    Header always edit Set-Cookie (.*) "$1; HTTPOnly; Secure"
    Header set X-Content-Type-Options nosniff
    Header set X-XSS-Protection "1; mode=block"
    Header always set X-FRAME-OPTIONS "SAMEORIGIN"
</IfModule>

<IfModule mod_mime.c>
    AddType application/vnd.ms-fontobject    .eot
    AddType application/x-font-opentype      .otf
    AddType image/svg+xml                    .svg
    AddType application/x-font-ttf           .ttf
    AddType application/font-woff            .woff
    AddType application/font-woff2           .woff2
</IfModule>

# Shop redirect
Redirect 302 /selling-nice-stuff https://www.redbubble.com/people/romaricpascal/shop/recent?asc=u
Redirect 302 /selling-nice-stuff/ https://www.redbubble.com/people/romaricpascal/shop/recent?asc=u 

<IfModule mod_rewrite.c>
    # Include trailing slash on directory
    RewriteCond %{REQUEST_URI} !(.+)/$
    RewriteCond %{REQUEST_URI} !\..+$
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)$ https://romaricpascal.is/$1/ [R=301,L]
    # Remove trailing index.html
    RewriteRule ^(.+)/index.html$ https://romaricpascal.is/$1/ [R=301,L]
    RewriteRule ^index.html$ https://romaricpascal.is/ [R=301,L]
    # Enforce HTTPS and not www.
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [OR,NC]
    RewriteCond %{HTTPS} off 
    RewriteRule ^(.*)$ https://romaricpascal.is/$1 [R=301,L]
</IfModule>
#4042302
ErrorDocument 404 /4042302.php
