.site-header,
.site-footer,
.skip-link {
  display: none;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

a[href]::after {
  text-decoration: underline;
  margin-left: 0.5ch;
}

a[href]:not([href^='#'])::after {
  content: '[' attr(href) ']';
  word-break: break-all;
}

a[href^='#']::after {
  content: '[see ' attr(href) ' on this document]';
  overflow-wrap: word-break
}

h1 a,
h2 a {
  display: none;
}

.avatar {
  filter: grayscale(100%)
}

.project,
blockquote {
  page-break-inside: avoid;
  break-inside: avoid;
}

.project h3,
.project h4,
.tech-list {
  border: solid 0.125rem #111;
  color: #111;
}

.project {
  position: relative;
  border: solid 0.125rem #111;
  color: #111;
}

h1, h2, h3, h4, h5, h6 {
  break-after: avoid;
}

/* blockquote {
  page-break-inside: avoid;
} */
