$container__max-width: 40rem;
$centered-children__wider__max-width: 46rem;


@mixin container($max-width: $container__max-width, $gutter-width: 1.5rem ) {
  width: calc(100% - #{2 * $gutter-width});
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

.container {
  @include container();
}


.contained-children {
  > * { 
    @include container;
  } 
}

.contained-children--with-automatic-widening {
  > pre, figure, img, blockquote, style, script {
    max-width: $centered-children__wider__max-width;
  }
}

.centered-children__wider {
  max-width: $centered-children__wider__max-width;
}