.post-list {
  list-style: none;
  padding: 0;
}

.post-list > * {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.post-list > * + * {
  margin-top: 0;
  border-top: solid 0.0625rem transparent;
  border-image-source: repeating-linear-gradient(90deg, #1D273A 15%, transparent 0);
  border-image-source: linear-gradient(90deg, #1D273A max(20%, 2rem), transparent 0);
  border-image-slice: 1 0 0;
}

.post-list-item {
  position: relative;
  z-index: 0;
}

.post-list-item a::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.post-list-item:focus-within {
  outline: solid 2px #1D273A;
  outline-offset: 2px;
}

.post-list-item:focus-within a {
  outline: none;
}