.site-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: baseline;

  a {
    display: inline-block;
    color: inherit;
    padding: 0.75rem 0.25rem;
    line-height: 1.5rem;
  }

  @media (min-width: 419px) {
    .site-header > :first-child {
      margin-right: auto;
    }
  }
}
