.site-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: baseline;

  a {
    display: inline-block;
    color: inherit;
    padding: 0.75rem 0.25rem;
    line-height: 1.5rem;
  }

  @media (min-width: 419px) {
    .site-header > :first-child {
      margin-right: auto;
    }
  }

  [aria-current]:not(.no-active) {
    text-decoration: none;
    background: linear-gradient(#1D273A,#1D273A);
    background-size: 100% 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    color: #fafafa;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
