.font-size--inherit {
  font-size: inherit !important;
}

.text-align--center {
  text-align: center !important;
}

.d--block {
  display: block;
}

.d--none {
  display: none;
}

.no-border {
  border: 0 !important;
}

.no-margin-top {
  margin-top: 0;
}

.margin-top--md {
  margin-top: 1.5rem;
}
