each language in languages
  if (language !== i18n.language)
    - let translationUrl = get(groups.byKeyByLanguage, [i18n.key, language, 'outputUrl']);
      if (translationUrl)
        link(rel="alternate",hreflang=language,href=translationUrl)
      else
        //- Prevent duplicate content by refering to the default translation as canonical
        - translationUrl = get(groups.byKeyByLanguage, [i18n.key, defaultLanguage, 'outputUrl']);
        if tranlationUrl
          link(rel="canonical",hreflang=language,href=translationUrl)
