<meta property="og:type" content="website">
meta(property="og:title",content=(title || siteTitle))
if ogDescription
  meta(property="og:description",content=ogDescription)
<meta property="og:image" content="#{siteUrl}/media/meta.png">

<meta property="twitter:card" content="summary">
<meta property="twitter:creator" content="romaricpascal">

