<!doctype html>
html(lang=`${i18n.language || defaultLanguage}`)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet",href="/style.css")
    
    include i18n/_head_links.pug

    - const rssUrl = get(groups.byKeyByLanguage, ['feed', i18n.language, 'outputUrl'])
    link(rel="alternate",type="application/rss+xml",href=rssUrl)
  body
    a.skip-link(href="#main") Skip to content
    header
      include i18n/_language_switcher.pug
        
    main#main
      block contents
        != contents
