---
title: Tous les posts
prose: false
---
h1= title

- 
  const posts = [...(groups.byLanguageByType[i18n.language]['post'] || [])].sort(function(a, b) {
    return b.date - a.date
  })
ul.post-list
  each post in posts
    li.post-list-item
      h2
        a(href=post.outputUrl)
          = post.title
      time.margin-top--0(datetime=date.toISOString())
        = get(dateFormats,i18n.language)(post.date)

