---
title: All posts
---
block content
  h1= title

  ul.archive
    - 
      const posts = [...(groups.byLanguageByType[i18n.language]['post'] || [])].sort(function(a, b) {
        return compareDesc(a.date, b.date)
      })

    each post in (posts)
      li.archive-item
        h2
          a(href=post.outputUrl)
            = post.title
        time.margin-top--0(datetime=formatDate(post.date, 'yyyy-MM-dd', {locale: i18n.language}))
          = formatDate(post.date, 'dd MMM yyyy', {locale: i18n.language})

