---
title: Tous les posts
---
block content
  h1= title

  ul.archive
    - 
      const posts = [...(groups.byLanguageByType[i18n.language]['post'] || [])].sort(function(a, b) {
        return b.date - a.date
      })

    each post in posts
      li.archive-item
        h2
          a(href=post.outputUrl)
            = post.title
        time.margin-top--0(datetime=date.toISOString())
          = get(dateFormats,i18n.language)(date)

